TimeLiveQuickBooksSourceCode/TimeLive.Integration.Quickbooks/Web References/Services.TimeLive.Employees/Employees.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="AddEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objEmployee" type="tns:Employee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Employee">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EmployeeId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HiredDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsVendor" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddEmployeeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SecuredWebServiceHeader" type="tns:SecuredWebServiceHeader" />
      <s:complexType name="SecuredWebServiceHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthenticatedToken" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountEmployeeId" type="s:int" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetEmployees">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeesResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmployeeCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AccountDepartmentId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="AccountRoleId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="AccountLocationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CountryId" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="BillingTypeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="DefaultProjectId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeManagerId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="TimeZoneId" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="CreatedByEmployeeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ModifiedByEmployeeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="EmployeePayTypeId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="StatusId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="JobTitle" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="HiredDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="TerminationDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="AccountWorkingDayTypeId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="AccountTimeOffPolicyId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="TimeOffApprovalTypeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="AccountHolidayTypeId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="IsForcePasswordChange" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HomePhoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WorkPhoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MobilePhoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Prefix" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DoNotSendEmail" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertEmployeeResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AccountEmployeeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Prefix" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EMailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmployeeCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AccountDepartmentId" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="AccountRoleId" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="AccountLocationId" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CountryId" nillable="true" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="HomePhoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WorkPhoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MobilePhoneNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BillingTypeId" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="StartDate" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="TerminationDate" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="StatusId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IsDeleted" nillable="true" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="IsDisabled" nillable="true" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="DefaultProjectId" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeManagerId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="TimeZoneId" nillable="true" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="CreatedByEmployeeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ModifiedByEmployeeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="AllowedAccessFromIP" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="EmployeePayTypeId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="JobTitle" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="HiredDate" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="AccountWorkingDayTypeId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="AccountTimeOffPolicyId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="TimeOffApprovalTypeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="AccountHolidayTypeId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="IsForcePasswordChange" nillable="true" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="UserInterfaceLanguage" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IsShowEmployeeProfilePicture" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEmployeeResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmployeeName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetEmployeeIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserRoleId">
        <s:complexType />
      </s:element>
      <s:element name="GetUserRoleIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserRoleIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeTypeId">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeTypeIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetEmployeeTypeIdResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeStatusId">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeStatusIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetEmployeeStatusIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeBillingTypeId">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeBillingTypeIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetEmployeeBillingTypeIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeWorkingDayTypeId">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeWorkingDayTypeIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetEmployeeWorkingDayTypeIdResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeesData">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeesDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeesDataResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsEmployeeExistsByEmailAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsEmployeeExistsByEmailAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsEmployeeExistsByEmailAddressResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="AddEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="AddEmployeeSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:message name="InsertEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:InsertEmployee" />
  </wsdl:message>
  <wsdl:message name="InsertEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:InsertEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="InsertEmployeeSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="UpdateEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateEmployeeSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeId" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeIdSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:message name="GetUserRoleIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserRoleId" />
  </wsdl:message>
  <wsdl:message name="GetUserRoleIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserRoleIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserRoleIdSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeTypeIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeTypeId" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeTypeIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeTypeIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeTypeIdSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeStatusIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeStatusId" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeStatusIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeStatusIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeStatusIdSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeBillingTypeIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeBillingTypeId" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeBillingTypeIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeBillingTypeIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeBillingTypeIdSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeWorkingDayTypeIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeWorkingDayTypeId" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeWorkingDayTypeIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeWorkingDayTypeIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeWorkingDayTypeIdSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeesData" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeesDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesDataSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:message name="IsEmployeeExistsByEmailAddressSoapIn">
    <wsdl:part name="parameters" element="tns:IsEmployeeExistsByEmailAddress" />
  </wsdl:message>
  <wsdl:message name="IsEmployeeExistsByEmailAddressSoapOut">
    <wsdl:part name="parameters" element="tns:IsEmployeeExistsByEmailAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IsEmployeeExistsByEmailAddressSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:portType name="EmployeesSoap">
    <wsdl:operation name="AddEmployee">
      <wsdl:input message="tns:AddEmployeeSoapIn" />
      <wsdl:output message="tns:AddEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <wsdl:input message="tns:GetEmployeesSoapIn" />
      <wsdl:output message="tns:GetEmployeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertEmployee">
      <wsdl:input message="tns:InsertEmployeeSoapIn" />
      <wsdl:output message="tns:InsertEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <wsdl:input message="tns:UpdateEmployeeSoapIn" />
      <wsdl:output message="tns:UpdateEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeId">
      <wsdl:input message="tns:GetEmployeeIdSoapIn" />
      <wsdl:output message="tns:GetEmployeeIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRoleId">
      <wsdl:input message="tns:GetUserRoleIdSoapIn" />
      <wsdl:output message="tns:GetUserRoleIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeTypeId">
      <wsdl:input message="tns:GetEmployeeTypeIdSoapIn" />
      <wsdl:output message="tns:GetEmployeeTypeIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeStatusId">
      <wsdl:input message="tns:GetEmployeeStatusIdSoapIn" />
      <wsdl:output message="tns:GetEmployeeStatusIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeBillingTypeId">
      <wsdl:input message="tns:GetEmployeeBillingTypeIdSoapIn" />
      <wsdl:output message="tns:GetEmployeeBillingTypeIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeWorkingDayTypeId">
      <wsdl:input message="tns:GetEmployeeWorkingDayTypeIdSoapIn" />
      <wsdl:output message="tns:GetEmployeeWorkingDayTypeIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesData">
      <wsdl:input message="tns:GetEmployeesDataSoapIn" />
      <wsdl:output message="tns:GetEmployeesDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsEmployeeExistsByEmailAddress">
      <wsdl:input message="tns:IsEmployeeExistsByEmailAddressSoapIn" />
      <wsdl:output message="tns:IsEmployeeExistsByEmailAddressSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeesSoap" type="tns:EmployeesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddEmployee">
      <soap:operation soapAction="http://tempuri.org/AddEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddEmployeeSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetEmployeesSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEmployee">
      <soap:operation soapAction="http://tempuri.org/InsertEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:InsertEmployeeSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap:operation soapAction="http://tempuri.org/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateEmployeeSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeId">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetEmployeeIdSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRoleId">
      <soap:operation soapAction="http://tempuri.org/GetUserRoleId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUserRoleIdSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeTypeId">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeTypeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetEmployeeTypeIdSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeStatusId">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeStatusId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetEmployeeStatusIdSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeBillingTypeId">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeBillingTypeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetEmployeeBillingTypeIdSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeWorkingDayTypeId">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeWorkingDayTypeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetEmployeeWorkingDayTypeIdSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesData">
      <soap:operation soapAction="http://tempuri.org/GetEmployeesData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetEmployeesDataSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEmployeeExistsByEmailAddress">
      <soap:operation soapAction="http://tempuri.org/IsEmployeeExistsByEmailAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsEmployeeExistsByEmailAddressSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmployeesSoap12" type="tns:EmployeesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddEmployee">
      <soap12:operation soapAction="http://tempuri.org/AddEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddEmployeeSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <soap12:operation soapAction="http://tempuri.org/GetEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetEmployeesSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEmployee">
      <soap12:operation soapAction="http://tempuri.org/InsertEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:InsertEmployeeSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap12:operation soapAction="http://tempuri.org/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateEmployeeSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeId">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeeId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetEmployeeIdSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRoleId">
      <soap12:operation soapAction="http://tempuri.org/GetUserRoleId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUserRoleIdSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeTypeId">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeeTypeId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetEmployeeTypeIdSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeStatusId">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeeStatusId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetEmployeeStatusIdSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeBillingTypeId">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeeBillingTypeId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetEmployeeBillingTypeIdSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeWorkingDayTypeId">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeeWorkingDayTypeId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetEmployeeWorkingDayTypeIdSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesData">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeesData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetEmployeesDataSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEmployeeExistsByEmailAddress">
      <soap12:operation soapAction="http://tempuri.org/IsEmployeeExistsByEmailAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsEmployeeExistsByEmailAddressSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Employees">
    <wsdl:port name="EmployeesSoap" binding="tns:EmployeesSoap">
      <soap:address location="http://demo.livetecs.com/Services/Employees.asmx" />
    </wsdl:port>
    <wsdl:port name="EmployeesSoap12" binding="tns:EmployeesSoap12">
      <soap12:address location="http://demo.livetecs.com/Services/Employees.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>