TimeLiveQuickBooksSourceCode/TimeLive.Integration.Quickbooks/Web References/Services.TimeLive.Clients/Clients.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objClient" type="tns:Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Client">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AccountProjectId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ClientId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telephone1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telephone2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddClientResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SecuredWebServiceHeader" type="tns:SecuredWebServiceHeader" />
      <s:complexType name="SecuredWebServiceHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthenticatedToken" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountEmployeeId" type="s:int" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetClients">
        <s:complexType />
      </s:element>
      <s:element name="GetClientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientsResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientNick" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CountryId" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telephone1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telephone2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DefaultBillingRate" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="Website" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IsDisabled" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="IsDeleted" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="CreatedOn" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="CreatedByEmployeeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ModifiedOn" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ModifiedByEmployeeId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertClientResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetClientId">
        <s:complexType />
      </s:element>
      <s:element name="GetClientIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetClientIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientIdByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientIdByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetClientIdByNameResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAssignedClients">
        <s:complexType />
      </s:element>
      <s:element name="GetAssignedClientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAssignedClientsResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddClientSoapIn">
    <wsdl:part name="parameters" element="tns:AddClient" />
  </wsdl:message>
  <wsdl:message name="AddClientSoapOut">
    <wsdl:part name="parameters" element="tns:AddClientResponse" />
  </wsdl:message>
  <wsdl:message name="AddClientSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:message name="GetClientsSoapIn">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="GetClientsSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientsSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:message name="InsertClientSoapIn">
    <wsdl:part name="parameters" element="tns:InsertClient" />
  </wsdl:message>
  <wsdl:message name="InsertClientSoapOut">
    <wsdl:part name="parameters" element="tns:InsertClientResponse" />
  </wsdl:message>
  <wsdl:message name="InsertClientSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:message name="GetClientIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientId" />
  </wsdl:message>
  <wsdl:message name="GetClientIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientIdSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:message name="GetClientIdByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientIdByName" />
  </wsdl:message>
  <wsdl:message name="GetClientIdByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientIdByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientIdByNameSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:message name="GetAssignedClientsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAssignedClients" />
  </wsdl:message>
  <wsdl:message name="GetAssignedClientsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAssignedClientsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAssignedClientsSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:portType name="ClientsSoap">
    <wsdl:operation name="AddClient">
      <wsdl:input message="tns:AddClientSoapIn" />
      <wsdl:output message="tns:AddClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <wsdl:input message="tns:GetClientsSoapIn" />
      <wsdl:output message="tns:GetClientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertClient">
      <wsdl:input message="tns:InsertClientSoapIn" />
      <wsdl:output message="tns:InsertClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientId">
      <wsdl:input message="tns:GetClientIdSoapIn" />
      <wsdl:output message="tns:GetClientIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientIdByName">
      <wsdl:input message="tns:GetClientIdByNameSoapIn" />
      <wsdl:output message="tns:GetClientIdByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAssignedClients">
      <wsdl:input message="tns:GetAssignedClientsSoapIn" />
      <wsdl:output message="tns:GetAssignedClientsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientsSoap" type="tns:ClientsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddClient">
      <soap:operation soapAction="http://tempuri.org/AddClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddClientSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap:operation soapAction="http://tempuri.org/GetClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetClientsSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertClient">
      <soap:operation soapAction="http://tempuri.org/InsertClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:InsertClientSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientId">
      <soap:operation soapAction="http://tempuri.org/GetClientId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetClientIdSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientIdByName">
      <soap:operation soapAction="http://tempuri.org/GetClientIdByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetClientIdByNameSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssignedClients">
      <soap:operation soapAction="http://tempuri.org/GetAssignedClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAssignedClientsSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientsSoap12" type="tns:ClientsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddClient">
      <soap12:operation soapAction="http://tempuri.org/AddClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddClientSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap12:operation soapAction="http://tempuri.org/GetClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetClientsSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertClient">
      <soap12:operation soapAction="http://tempuri.org/InsertClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:InsertClientSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientId">
      <soap12:operation soapAction="http://tempuri.org/GetClientId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetClientIdSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientIdByName">
      <soap12:operation soapAction="http://tempuri.org/GetClientIdByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetClientIdByNameSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssignedClients">
      <soap12:operation soapAction="http://tempuri.org/GetAssignedClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetAssignedClientsSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Clients">
    <wsdl:port name="ClientsSoap" binding="tns:ClientsSoap">
      <soap:address location="http://demo.livetecs.com/Services/Clients.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientsSoap12" binding="tns:ClientsSoap12">
      <soap12:address location="http://demo.livetecs.com/Services/Clients.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>